{% load staticfiles %}

<html>
<head>
<title> DZ </title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'shop/index.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>

<body>

{% if latest_shop_list %}
    <ul>
    {% for shop in latest_shop_list %}
        <h3><a href="/shop/{{ shop.id }}/">{{ shop.shop_name }}</a></h3>
    {% endfor %}
    </ul>
{% else %}
    <p>No shops are available.</p>
{% endif %}

<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

</body>
</html>
